# Docker container system folder 

# vscode setting
.vscode/

# 2_DevLab

project/.local/

project/2_DevLab/.ipynb_checkpoints/

project/2_DevLab/viyapy/

# 3_CI_CD

project/3_CI_CD/code_quality_test/bad_scenario_demo

project/3_CI_CD/code_quality_test/good_scenario_demo

project/3_CI_CD/unit_test/base-image-cli

#docs

docs/

# Slides
slides/

#Other
config.txt
utils/
openstack.pem
MLOps_dockers.pem
ModelOps-master.zip
minishift.pem